<h1>Hello World</h1>
<%= link_to "NEwページ", new_word_path%>


<% @words.each do |word| %>
<ul class="lists">
  <div class='list'>
    <%= "検索するものは#{word.firstword} #{word.secondword}どす" %>
    <% @test = word.firstword%>
  </div>
</ul>
<% end %>

<%= "#{params[:firstword]}と#{params[:secondword]}ですよ"%>

<%= form_with model: @word, local: true do |f| %>
<%= f.hidden_field :firstword, :value => @test %>
<%= f.text_field :secondword %>
<%= f.submit %>
<% end %>