<h1>Hello World</h1>
<%= link_to "NEwページ", new_word_path%>
<% @words.each do |word| %>
<ul class="lists">
  <div class='list'>
    <%= "検索するものは#{word.firstword} #{word.secondword}どす" %>
  </div>
</ul>
<% end %>
<%= "#{params[:firstword]}と#{params[:secondword]}ですよ"%>

<%= form_with url: words_path, method: :get, local: true do |f| %>
<%= f.text_field :firstword %>
<%= f.text_field :secondword %>
<%= f.submit%>
<% end %>